@model IEnumerable<Proyecto1_LA.Models.DetalleFactura>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Productos Vendidos</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreUsuario)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.idDetalleFactura }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.idDetalleFactura }) 
            @*@Html.ActionLink("Delete", "Delete", new { id=item.idDetalleFactura })*@
        </td>
    </tr>
}

</table>
